span{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    position:fixed;
    top:50%;
    left:0;
    transform: translateY(-50%);
    margin:0;
    padding:0;
    z-index: 1;
}

#container{
    width: 100%;
    height: 100vh;
    /* scroll-behavior: smooth; */
    /* overflow-y:scroll ; */
    

}
#container div{
    position: relative;
    width: 100%;
    height: 100vh;
}
#container div#about{
background:red;
}
#container div#why{
    background:blue;
    }
 #container div#help{
background:green;
 }
 #container div#watch{
    background:yellow;
    }
#container div#purple{
 background:purple;
 }
 .btn{
     position: fixed;
     margin-top: -10em;
     
 }
 /* chart */
 .chart{
    position: absolute;
    top:30%;
    margin-left: 4%;
    
 }
 /* slides */
 @import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic|Inconsolata);
 main {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 100%;
transition: left 500ms;
}
 section {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 100%;
margin: 0;
opacity: 0;
box-sizing: border-box;
overflow: auto;
-webkit-overflow-scrolling: touch;
transition: opacity 250ms ease-in-out;
}
 section:first-child {
opacity: 1;
}

 .s {
position: absolute;
}
 nav {
position: fixed;
z-index: 1;
width: 100%;
user-select: none;
}




 nav.prevnext {
left: 0;
top: 1rem;
}
 nav.prevnext ul {
list-style: none;
margin: 0.5rem auto;
padding: 0;
width: 220px;
position: relative;
}
 nav.prevnext ul:after {
content: "";
display: table;
clear: both;
}
 nav.prevnext ul li {
display: none;
width: 100px;
}
 nav.prevnext ul li.starter {
display: block;
float: right;
}
 nav.prevnext ul li.starter a:after {
content: "Next";
}
 nav.prevnext ul a {
display: block;
width: 100%;
box-sizing: border-box;
padding: 0.5rem 1rem;
border-radius: 4px;
text-align: center;
box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.1);
color: #fff;
background-color: rgba(0, 0, 0, 0.4);
transition: background 200ms ease-in-out 200ms, box-shadow 200ms ease-in-out;
}
 nav.prevnext ul a:hover, nav.prevnext ul a:active {
background-color: rgba(0, 0, 0, 0.5);
}
 nav.prevnext ul a:hover {
box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}
 nav.prevnext ul a:active {
box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1);
transform: translateY(1px);
}
 nav a {
text-decoration: none;
}
 @media (min-width: 600px) {
main {
height: 100%;
}
}

 @media (min-width: 600px) {
nav.prevnext {
top: auto;
bottom: 1rem;
}
}
 #progress {
position: fixed;
z-index: 9;
top: 0;
left: 0;
width: 0%;
border-bottom: 12px solid rgba(255, 255, 255, 0.2);
transition: width 1250ms linear;
}
 #s1:target ~ main section {
opacity: 0;
}
 #s1:target ~ main section:nth-child(1) {
opacity: 1;
}
 @media (max-width: 599px) {
#s1:target ~ main section {
top: 50%;
}
#s1:target ~ main section:nth-child(1) {
top: 0;
}
}
 @media (min-width: 600px) {
#s1:target ~ main {
left: 0%;
}
section:nth-child(1) {
left: 0%;
}
}

 #s1:target ~ #background {
/* background-image: url(https://images3.alphacoders.com/691/thumb-1920-691924.jpg); */
background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-color: #383318;
}
 #s1:target ~ #progress {
width: 0%;
}

 #s1:target ~ .prevnext li.starter {
display: none;
}
 #s1:target ~ .prevnext li[class*="p1"] {
display: block;
float: left;
}
 #s1:target ~ .prevnext li[class*="p1"] a:after {
content: "Prev";
}
 #s1:target ~ .prevnext li[class*="n1"] {
display: block;
float: right;
}
 #s1:target ~ .prevnext li[class*="n1"] a:after {
content: "Next";
}
 #s2:target ~ main section {
opacity: 0;
}
 #s2:target ~ main section:nth-child(2) {
opacity: 1;
}
 @media (max-width: 599px) {
#s2:target ~ main section {
top: 50%;
}
#s2:target ~ main section:nth-child(2) {
top: 0;
}
}
 @media (min-width: 600px) {
#s2:target ~ main {
left: -100%;
}
section:nth-child(2) {
left: 100%;
}
}

 #s2:target ~ #background {
background-image: url(https://static.seattletimes.com/wp-content/uploads/2020/03/AFRICA_PARKS_DRILLING_5-1560x1040.jpg);
background-color: #3c7326;
}
 #s2:target ~ #progress {
width: 16.6666666667%;
}

 #s2:target ~ .prevnext li.starter {
display: none;
}
 #s2:target ~ .prevnext li[class*="p2"] {
display: block;
float: left;
}
 #s2:target ~ .prevnext li[class*="p2"] a:after {
content: "Prev";
}
 #s2:target ~ .prevnext li[class*="n2"] {
display: block;
float: right;
}
 #s2:target ~ .prevnext li[class*="n2"] a:after {
content: "Next";
}
 #s3:target ~ main section {
opacity: 0;
}
 #s3:target ~ main section:nth-child(3) {
opacity: 1;
}
 @media (max-width: 599px) {
#s3:target ~ main section {
top: 50%;
}
#s3:target ~ main section:nth-child(3) {
top: 0;
}
}
 @media (min-width: 600px) {
#s3:target ~ main {
left: -200%;
}
section:nth-child(3) {
left: 200%;
}
}
 
 #s3:target ~ #background {
background-image: url(https://images3.alphacoders.com/691/thumb-1920-691924.jpg);
background-color: #265773;
}
 #s3:target ~ #progress {
width: 33.3333333333%;
}

 #s3:target ~ .prevnext li.starter {
display: none;
}
 #s3:target ~ .prevnext li[class*="p3"] {
display: block;
float: left;
}
 #s3:target ~ .prevnext li[class*="p3"] a:after {
content: "Prev";
}
 #s3:target ~ .prevnext li[class*="n3"] {
display: block;
float: right;
}
 #s3:target ~ .prevnext li[class*="n3"] a:after {
content: "Next";
}
 #s4:target ~ main section {
opacity: 0;
}
 #s4:target ~ main section:nth-child(4) {
opacity: 1;
}
 @media (max-width: 599px) {
#s4:target ~ main section {
top: 50%;
}
#s4:target ~ main section:nth-child(4) {
top: 0;
}
}
 @media (min-width: 600px) {
#s4:target ~ main {
left: -300%;
}
section:nth-child(4) {
left: 300%;
}
}

 #s4:target ~ #background {
background-image: url(https://di262mgurvkjm.cloudfront.net/6e76a690-cf73-43b9-87e7-b3841642dde3/N07490-Pano-FR-01_uxga.jpg);
background-color: #163b5a;
}
 #s4:target ~ #progress {
width: 50%;
}

 #s4:target ~ .prevnext li.starter {
display: none;
}
 #s4:target ~ .prevnext li[class*="p4"] {
display: block;
float: left;
}
 #s4:target ~ .prevnext li[class*="p4"] a:after {
content: "Prev";
}
 #s4:target ~ .prevnext li[class*="n4"] {
display: block;
float: right;
}
 #s4:target ~ .prevnext li[class*="n4"] a:after {
content: "Next";
}
 #s5:target ~ main section {
opacity: 0;
}
 #s5:target ~ main section:nth-child(5) {
opacity: 1;
}
 @media (max-width: 599px) {
#s5:target ~ main section {
top: 50%;
}
#s5:target ~ main section:nth-child(5) {
top: 0;
}
}
 @media (min-width: 600px) {
#s5:target ~ main {
left: -400%;
}
section:nth-child(5) {
left: 400%;
}
}

 #s5:target ~ #background {
    background-image: url(https://i.pinimg.com/originals/c7/96/1c/c7961cd51a82e5b97607b039e4b33274.png);
    background-color: #05160d91;
}
 #s5:target ~ #progress {
width: 66.6666666667%;
}

 #s5:target ~ .prevnext li.starter {
display: none;
}
 #s5:target ~ .prevnext li[class*="p5"] {
display: block;
float: left;
}
 #s5:target ~ .prevnext li[class*="p5"] a:after {
content: "Prev";
}
 #s5:target ~ .prevnext li[class*="n5"] {
display: block;
float: right;
}
 #s5:target ~ .prevnext li[class*="n5"] a:after {
content: "Next";
}
 #s6:target ~ main section {
opacity: 0;
}
 #s6:target ~ main section:nth-child(6) {
opacity: 1;
}
 @media (max-width: 599px) {
#s6:target ~ main section {
top: 50%;
}
#s6:target ~ main section:nth-child(6) {
top: 0;
}
}
 @media (min-width: 600px) {
#s6:target ~ main {
left: -500%;
}
section:nth-child(6) {
left: 500%;
}
}
 .thumbs li:nth-child(6) a {
background-image: url(https://cdn.pixabay.com/photo/2018/01/22/05/53/forest-waterfall-3098200_1280.jpg);
background-color: #6f8a3c;
}
 #s6:target ~ #background {
background-image: url(https://cdn.pixabay.com/photo/2018/01/22/05/53/forest-waterfall-3098200_1280.jpg);
background-color: #6f8a3c;
}
 #s6:target ~ #progress {
width: 83.3333333333%;
}


 #s6:target ~ .prevnext li.starter {
display: none;
}
 #s6:target ~ .prevnext li[class*="p6"] {
display: block;
float: left;
}
 #s6:target ~ .prevnext li[class*="p6"] a:after {
content: "Prev";
}
 #s6:target ~ .prevnext li[class*="n6"] {
display: block;
float: right;
}
 #s6:target ~ .prevnext li[class*="n6"] a:after {
content: "Next";
}
 #s7:target ~ main section {
opacity: 0;
}
 #s7:target ~ main section:nth-child(7) {
opacity: 1;
}
 @media (max-width: 599px) {
#s7:target ~ main section {
top: 50%;
}
#s7:target ~ main section:nth-child(7) {
top: 0;
}
}
 @media (min-width: 600px) {
#s7:target ~ main {
left: -600%;
}
section:nth-child(7) {
left: 600%;
}
}

 #s7:target ~ #background {
background-image: url(https://i.pinimg.com/originals/c7/96/1c/c7961cd51a82e5b97607b039e4b33274.png);
background-color: #05160d91;
}
 #s7:target ~ #progress {
width: 100%;
}

 #s7:target ~ .thumbs li:nth-child(7) a {
opacity: 1;
width: 80px;
height: 60px;
box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
 #s7:target ~ .prevnext li.starter {
display: none;
}
 #s7:target ~ .prevnext li[class*="p7"] {
display: block;
float: left;
}
 #s7:target ~ .prevnext li[class*="p7"] a:after {
content: "Prev";
}
 #s7:target ~ .prevnext li[class*="n7"] {
display: block;
float: right;
}
 #s7:target ~ .prevnext li[class*="n7"] a:after {
content: "Next";
}
 #background {
background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
/* background-color: #383318; */
background-blend-mode: multiply;
background-position: center;
background-size: cover;
filter: blur(1px);
position: fixed;
z-index: -1;
transition: background-image 500ms ease-in-out 500ms, background-color 500ms ease-in-out 1000ms;
top: -20px;
right: -20px;
bottom: -20px;
left: -20px;
}
 html, body {
height: 100%;
width: 100%;
overflow: hidden;
color: #fff;
font-family: Merriweather, Georgia, serif;
font-weight: 300;
}
 pre, code {
font-family: Inconsolata, monospace;
}
 a {
color: #eee;
}
 h1, p {
font-weight: 300;
}
 p, ul {
line-height: 1.6;
}
 .right {
text-align: right;
}
/* carousel */
.slide-container {
  width: 60%;
  margin: auto; }
 
h3 {
  text-align: center; }
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}
 
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
 
.each-fade {
  display: flex;
}
 
.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}
 
.each-fade .image-container img {
  width: 100%;
}
 
.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

 /*           {this.state.img.map(img=>  img.animal_id==this.props.routerProps.match.params.id?
            <li class="carousel__item"><img src={img.image_url} alt=""/></li> :"")} */
            
/* page edit overall */
.animal-name{
    position: absolute;
    left:50%
}
.face{
    height: auto;
    width: 300px;
    /* overflow: hidden;  */
    margin-left:40%;
    margin-top: 10%;
    border-radius:27% ;
    opacity: 0.6;

    /* border: 1px solid #000000; */

}
.facetiger{
    height: auto;
    width: 350px;
    /* overflow: hidden;  */
    margin-left:40%;
    margin-top: 10%;
    opacity: 0.5;
   

}
.elephant{
    height: auto;
    width: 450px;
    /* overflow: hidden;  */
    margin-left:35%;
    margin-top: 5%;
    opacity: 0.7;
   

}
.rhino{
    height: auto;
    width: 450px;
    /* overflow: hidden;  */
    margin-left:35%;
    margin-top: 5%;
    opacity: 0.6;
    border-radius: 35%;
   

}
.gorilla{
    height: auto;
    width: 450px;
    /* overflow: hidden;  */
    margin-left:35%;
    margin-top: 5%;
    opacity: 0.6;
    border-radius: 25%;
}
.lemur{
    height: auto;
    width: 350px;
    /* overflow: hidden;  */
    margin-left:35%;
    margin-top: 5%;
    opacity: 0.49;
    border-radius: 5%;
}
.img {
  
    height: 300px;
    width: 400px;
    overflow: hidden;
  }
  .oc{
    height: auto;
    width: 50%;
    overflow: hidden;
    margin-left: 50%;
  }
  .causes,.help{
      position: absolute;
      border:solid white;
      max-width: 70%;
      height: auto;
      text-align: center;
      margin-left:15%;
      padding: 25px;

  }
  iframe{
      position: absolute;
      left: 25%;
      bottom: 40%;
      width:40%;
      height:40%;
      box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.938);


      

  }