@import url('https://fonts.googleapis.com/css?family=Buda:300');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Buda';

} 

.p-i:first-letter { 
  color: #1d5820;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding: 0 8px;
}

html body{ 
  background-color: #0a193a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin: 0; max-height: 100%; max-width: 100%;
  

}
.Map{
margin-top: -15em;
margin-left: -30em;
z-index: -999;
width: 1600px;


}
/* animal list */

.headlines{
  position: absolute;
  top: 95px;
  text-align: center;
  left: 1104px;
  z-index: 999;
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  animation: fade-letters-headlines 1.5s forwards;
  animation-delay: 1s;
  opacity: 0


}
@keyframes fade-letters-headlines{
  /* 0% {opacity: 0;} */
  100%{   opacity: 1  }


}
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
.animal-list{
  position: absolute;
  margin-top: 30em;
  margin-left: 80em;
  z-index: 999;
  animation: fade-letters-headlines 1.5s forwards;
  animation-delay: 1s;
  opacity: 0
 


}
.box-text:hover{
  font-size: 2.5em;
  color: #1d5820;
  animation:ease-in;
  animation-timing-function: 1s;
  cursor: pointer;



}

.box-text{
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
  -webkit-transform: translate(-50%,-50%);
 
}
.loading{
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  left:-50% ;
  top:10vh


}
.load{
  position: relative;

  left:30% ;
  top:4vh
}
.box-text:after,
.box-text:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.5em;
  width: 100%;
  margin-top: 1px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.75s, transform 0.75s;
  
	
}

.box-text:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.box-text:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.box-text:hover:after,
.box-text:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
  transform: scale(1);

}
/* profile card */
@import url(https://fonts.googleapis.com/css?family=Amaranth);

.content {
  position: absolute;
	width: 100%;
	/* display: flex; */
	flex-direction: row;
}
.profilecard {
  position: fixed;
	width: 250px;
	/* margin: 30px auto 0 auto; */
	border-radius: 15px;
	border: 1px solid #23262a21;
	background: #2f313648;
	display: flex;
  flex-direction: column;
  top:351px;
  left:593px;
  background-image: url(./img/leaves.jpg);

}

.profilecard .me {
	padding-top: 15px;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #2022258f;
  color: #fff;
  border-radius: 11px;
}

.profilecard .me .avatar {
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	width: 80px;
	height: 80px;
}
.profilecard .me .avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profilecard .me .username {
	margin: 15px auto 15px auto;
	text-align: center;
	font-size: 14px;
}
.profilecard .me .username strong {
	color: #fff;
}
.profilecard .role, .profilecard .note {
	padding: 0.5rem 0.5rem 2rem 0.5rem;
	color: white;
	font-size: 14px;
	display: flex;
  flex-direction: column;
  font-family: 'Amaranth';
}
.why-btn{
  width: auto;
  height: 2em;
  color: white;
  background-color: #153827b7;
  border-color: #17472f8e;
  box-shadow: -3px 3px #2163428e, -2px 2px #2163428e, -1px 1px #2163428e;
  border: 1px solid #2163428e;
  cursor: pointer;

}
.box{
  position: absolute;
  border:solid rgba(255, 255, 255, 0.171);
  width: 80%;
  height: 90%;

  margin-left:15%;
 
  z-index: 1;


}

iframe{
  border-radius: 13px;
 



}
hr{
  background-color:transparent;
height: 1.5px;
margin-top: -10%;

border: none;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.comment-box{
  position: fixed;
  margin-left:17%;
 margin-top: 5%;
 width: 35%;
 height: 73%;
 border-radius: 10px;

 
 overflow: scroll;
 z-index: 1;


} 

.form{
  position: absolute;
  left:20%;
  top:20%;
  z-index: 999;


}
input,select,textarea{
  background-color: transparent;
  border: none;

  border-bottom: 2px solid white;
  outline: none; 
  resize: none;
  z-index: 999;
  color: white;


}

.community{
  position: absolute;
  margin-top: 6%;
  left:49%;
  z-index: 1;
  
}
#bg{
  background-image: url(./img/bridge.jpg);
  background-color: #3d3610;
background-blend-mode: multiply;
background-position: center;
background-size: cover;
/* filter: blur(1px); */
position: fixed;
z-index: -1;
transition: background-image 500ms ease-in-out 500ms, background-color 500ms ease-in-out 1000ms;
top: -20px;
right: -20px;
bottom: -20px;
left: -20px;
z-index: -999;
}
.s-btn{
  position: absolute;
  background-color: transparent;
  color: white;
  width: 40%;
  height: 20%;
  border-color: white;
  left: 10%;
  cursor: pointer;
  outline: none;

}
.s-btn:hover{
background-color: rgba(12, 32, 12, 0.466);
}

.select{
  position: relative;
  left: 50em;
  top:-8em
}
.poachers,.box{
  margin-top: 4%;
  position: absolute;
  background-color: rgba(109, 107, 107, 0.247);
  border-radius: 15px;
    max-width: 70%;
  height: 80%;
  text-align: center;
  margin-left:15%;
  padding: 25px;
  overflow-x: scroll;
}
.poach-pic{
  height: 300px;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.poach-why{
  margin-top:-30em;
  margin-left: 50%;
  max-width: 50%;
  height: 50%;
}
.one{
  margin-left:-60%
}
.why-p{
  margin-left: 45%;
}
/* .two{
  position: absolute;
  margin-top: 25%;
} */
.p-b{
  background-image: url(./img/poac.jpg);
  background-color: #3d3610;
background-blend-mode: multiply;
background-position: center;
background-size: cover;
/* filter: blur(1px); */
position: fixed;
transition: background-image 500ms ease-in-out 500ms, background-color 500ms ease-in-out 1000ms;
top: -20px;
right: -20px;
bottom: -20px;
left: -20px;
z-index: -999;
}

.iframe{
  position: relative;
  left: 6%;
  bottom: 2%;
  width:40%;
  height:40%;
  box-shadow: -2px 7px 40px 2px rgba(18, 31, 23, 0.938);
}
  
.tiger-link{
  position: relative;
top:-10%;
  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;

}
.elephant-link{
  position: relative;
  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;
  left:50%;
  bottom:52%


}
.gorilla-link{
  position: relative;

  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;
  left:50%;
  bottom:20%


}
.lemur-link{
  position: relative;
  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;
  left:-1%;
  bottom:55%


}
.rhino-link{
  position: relative;

  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;
  bottom:25%;
  left:-1%;



}
.orangutan-link{
  position: relative;
  border:solid transparent;
  background-color: rgba(0, 0, 0, 0.459);
  max-width: 40%;
  overflow: hidden;
  bottom:45%;
  left:50%;




}
.linkss{
  margin-top: 4%;
  position: absolute;
  border:solid white;
  max-width: 80%;
  height: 80%;
  text-align: center;
  padding: 25px;
  overflow: scroll;
  margin-left: 10%;
  z-index: 999;
}
.l-bg{
  background-image: url(./img/sun.jpg);
  background-color: #3d3610;
background-blend-mode: multiply;
background-position: center;
background-size: cover;
position: fixed;
z-index: -1;
transition: background-image 500ms ease-in-out 500ms, background-color 500ms ease-in-out 1000ms;
top: -20px;
right: -20px;
bottom: -20px;
left: -20px;
z-index: -999;
}
.r-r{
  position: relative;
}
.Orangutan-l,.Lemur-l,.Tiger-l,.Elephant-l,.Rhino-l,.Gorilla-l{
  position: relative;
  z-index: -1;
}
.Tiger-l{
 left: -10em;
 top: -3em;
}
.Elephant-l{
  left: 15%;
  top: 7%;
}
.Lemur-l{
  left: -30%;
  top: 85%;
}
.Gorilla-l{
  left: 15%;
  top: 95%;
}
.Rhino-l{
  left: -30%;
  top: 130%;
}
.Orangutan-l{
  left: 20%;
  top: 130%;
}
.r-title{
  position: relative;
  top:1%;
  text-decoration: underline;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.007);
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.comment-avatar{
  
  position: relative;
  border-radius: 50%;
  left:-4%;
  height: 5em;
  
}
.username-c
{position: relative;
  left:-3%

}
.topic{
  position: relative;
  left:-4%
}

.sec-c{
  position: relative;
  border: solid rgba(248, 242, 242, 0.267);
  border-radius: 20px;
}
.sec-pic{
  position: relative;
  border: solid rgba(245, 240, 240, 0.267);
  width: 25%;
  overflow: scroll;
  border-left: transparent;
  border-bottom: transparent;
  border-top: transparent;
  border-radius: 30px;
}
.co-b{
  position: relative;
  /* border: solid; */
  top: -8em;
  width: 70%;
  overflow: scroll;
  left: 27%;
  max-height: 7em;
  
}
.posted-time{
  position: relative;
  top: -4em;
}
#container-b {
  width: 500%;
  height: 10%;
  position: absolute;
  top: 1.5em;
}
#bird {
  height: 100px;
  position: relative;
  left:1.8%;
  filter: grayscale(0.31) hue-rotate(230deg) opacity(0.6) saturate(2.17) sepia(0.57) ;
}
#bird2 {
  transform: scaleX(-1);
  height: 100px;
  position: relative;
  left:16.2%;
  filter: grayscale(0.31) hue-rotate(230deg) opacity(0.6) saturate(2.17) sepia(0.57) ;
}
.container.butter{
  position: absolute;
}
.fly,.fly2{
  position: absolute;
  max-width: 6%;
  top: 7%;
  filter: grayscale(0.31) hue-rotate(230deg) opacity(0.6) saturate(2.17) sepia(0.57) ;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  

}
.fly{
    left: 9%;

}
.fly2{
  position: absolute;
  top:39em;
  left: 88%;
  transform: rotateY(180deg);
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover2 1s infinite  alternate;
  
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-25px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes mover2 {
  0% { transform: translateY(0); transform: scaleX(-1) }
  100% { transform: translateY(-15px); transform: scaleX(-1) }
}

