html body{ 
  background: url(https://i.pinimg.com/originals/ee/25/42/ee254213e8382ec076eed9f681f17353.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

}
