@import url(https://fonts.googleapis.com/css?family=Bungee);

@keyframes filling {
    from{
      background-position: center 1%;
    }
    to {
      background-position: center 70%;
    }
  }
  @-webkit-keyframes filling {
    from{
      -webkit-background-position: center 1%;
    }
    to {
      -webkit-background-position: center 70%;
    }
  }
  @-moz-keyframes filling {
    from{
      -moz-background-position: center 1%;
    }
    to {
      -moz-background-position: center 70%;
    }
  }
  .mobile{
    display: none;
  }
  .box-text-c{
    position: fixed;
    width: 1078px;
    height: 350px;
    box-shadow: 5px 10px 18px black;
    left: 105px;
    display: grid;
    line-height: 150px;


  }
  .container-text {
    position: relative;
    background-image:  url('./img/jungle.jpg');
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color:  #FFFFFF;
    font-size: 150px;
    font-family: 'Bungee', cursive;
    animation: filling 3s ease forwards;
 
  
  }
  @media only screen and (max-width:800px){
    .container-text {
      position: relative;
      background-image:  url('./img/jungle.jpg');
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color:  #FFFFFF;
      font-size: 6vw;
      font-size: 17vh;
      font-size: calc(3vw + 8vh);
  
      font-family: 'Bungee', cursive;
      animation: filling 3s ease forwards;
      width: 90vw;
      height: 30vh;
    
    }
  
  
  }
 
  .home-bg{
    background-image: url(./img/ele.jpg);
    background-color: #3d361079;
  background-blend-mode: multiply;
  background-position: center;
  background-size: 1460px 790px;
  position: fixed;
  z-index: -1;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: -999;
 
 
  }
  .world{
  position: relative;
   max-width: 230px;   
   top:-13vw;
   left:4vw;
   filter: brightness(50%);
   cursor: pointer;
   display: inline-block;
   margin: auto;
   display: block;


   

   animation: rotate-animation 10s infinite linear;
  }
  @keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate-animation {
	0% {
		-webkit-transform: rotate(0deg);
  }
  50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotate-animation {
	0% {
		-moz-transform: rotate(0deg);
  }
  50% {
		-moz-transform: rotate(180deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
@import url(https://fonts.googleapis.com/css?family=Coiny);
.explore{
    position: relative;
    top:-7vw;
   left:4vw;
    z-index: 1;
    font-family: 'Coiny';


    font-size: 1vw;
    filter: brightness(55%);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15vw;
    display: inline-block;
   margin: auto;
   display: block;




}





.message{
  display: none;
}
@media only screen and (max-width:1024px){
 
  .Map{

    margin-top: 5px;
  }
  .cir-menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    top: 10px;
    margin-left: 350px;
    animation:none
  

  }
 
  .thing{
    width: 100px;
    height: 100px;
    border-radius:150px ;
  }
  .thing p{
    position: relative;
    left: 10px;

  }
  .m{
    font-weight: 700;
    top: 30px;
    left: 28px;

  }
  .p{
    font-size: 22px;
    font-weight: 700;
    top: 30px;

  }
  .m{
    font-size: 25px;


  }
  .po{
    font-size: 25px;
    font-weight: 700;
    top: 30px;
    left: 4px;


  }
  .p-r{
    font-size: 25px;
    font-weight: 700;
    top: 25px;
  }
  .headlines{
    left: 300px;
    top: 1100px;
  }
  .animal-list{
    left: -1080px;
    top: 750px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 45px;

  }
  .profilecard{
    left: 35px;
    top: 550px;
  }
  .home-bg{
    background: url(./img/ele.jpg)no-repeat center center fixed;
    background-color: #3d361079;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -999;
 
 
  }
  .box-text-c{
    top: 400px;
    left: 20px;
  }
  .container-text{
      font-size: 140px;

  }
  .explore{
    font-size: 20px;
  }
  .world{
    top: -160px;
  }
.comment-box{
  left: -300px;
  width: 520px;
  height: 800px;
}
.box{
  top: 100px;
}
.community{
  top: 150px;
}
.form{
  top: 450px;
}
}
@media only screen and (max-width:768px){

}
@media only screen and (max-width:540px){
  .home-bg,.box-text-c{
    display: none;
  }
  .container-text,.explore,.world{
    display: none;
  }
  .message{
   
  
    top: 250px;
    left: -100px;
    width: 150%;
  }
  .bird{
    display: none;

  }
}
@media only screen and (max-width:414px){
 html body{


  }
  .mobile{
    display:block;
    position: relative;
    top: 210px;
    text-align: center;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px #000000;
  }
  .com{

    width: 100%;
  }
}
