@import url(https://fonts.googleapis.com/css?family=Bungee);
@keyframes filling {
    from{
      background-position: center 1%;
    }
    to {
      background-position: center 70%;
    }
  }
  @-webkit-keyframes filling {
    from{
      -webkit-background-position: center 1%;
    }
    to {
      -webkit-background-position: center 70%;
    }
  }
  @-moz-keyframes filling {
    from{
      -moz-background-position: center 1%;
    }
    to {
      -moz-background-position: center 70%;
    }
  }
  
  .container-text {
    background-image:  url(https://static.wixstatic.com/media/5e7eec_72022d9a421d4beeb10dfc2a94ba9be5~mv2.jpg/v1/fill/w_1000,h_663,al_c,q_90,usm_0.66_1.00_0.01/5e7eec_72022d9a421d4beeb10dfc2a94ba9be5~mv2.jpg);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color:  #FFFFFF;
    font-size: 150px;
    font-family: 'Bungee', cursive;
    animation: filling 3s ease forwards;
    margin-top: 14%;
    margin-left: 15%;
    box-shadow: 5px 10px 18px black;
    width: 78%;
  
  }
  .home-bg{
    background-image: url(https://latfusa.com/media/uploads/2018/04/25/1-1.jpg);
    background-color: #3d361079;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  transition: background-image 500ms ease-in-out 500ms, background-color 500ms ease-in-out 1000ms;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: -999;
 
  }
  .world{
      position: absolute;
   width: 250px;   
   height: 160px;
   margin-top:360px;
   margin-left:-100px;
   filter: brightness(50%);
   cursor: pointer;


   

   animation: rotate-animation 10s infinite linear;
  }
  @keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@import url(https://fonts.googleapis.com/css?family=Coiny);
.explore{
    position: absolute;
    left: 48em;
    top: 26.5em;
    z-index: 1;
    font-family: 'Coiny';
    filter: brightness(55%);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 15%;


}
